#general-container {
    height: auto;
    width: 800px;
    margin: 0 auto;
}

#display-screen {
    font-family: monospace;
    background-color: rgb(226, 225, 225, 0.8);
    border: 1px solid black;
    height: 20px;
}

#buttons-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

#numbers-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

#functions-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
}